<div>
  From <strong><%= conversation.author.email %></strong> to
  <strong><%= conversation.receiver.email %></strong>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>