@import 'normalize';

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

#conversations-sidebar {
  width: 30%;
  float: left;
}

#conversation-main {
  width: 69%;
  float: right;
}