.global_chat { // the WHOLE chat window, including messages, form and hide/show button
  width: 600px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid black;

  &.collapsed { // chat window is collapsed
    height: auto;
    .global_chat_inner {
      display: none;
    }
  }

  .global_chat_toggler { // the actual button to hide/show chat window
    cursor: pointer;
  }

  form { // form to submit message
    margin-top: 30px;
  }

  #messages { // all messages are displayed here
    max-height: 500px;
    overflow-y: auto;
    .message {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}